In [3]:
# Importing all the modules
import numpy as np
import pandas as pd
import pprint as pprint

In [6]:
# Task 1 importing the dataset
# %pwd for directory check
# %cd for directory change
import os
import shutil
import gdown
from numpy import genfromtxt
# Download file from Google Drive
# This file is based on data from: http://insideairbnb.com/get-the-data/
file_id_1 = "13fyESiH1ZEnMV6eabAyhe20t4W6peEWK"
downloaded_file_1 = "WK1_Airbnb_Amsterdam_listings_proj.csv"
# Download the file from Google Drive
gdown.download(id=file_id_1, output=downloaded_file_1)

Downloading...
From: https://drive.google.com/uc?id=13fyESiH1ZEnMV6eabAyhe20t4W6peEWK
To: /Users/dr.gauravsablok/Desktop/WK1_Airbnb_Amsterdam_listings_proj.csv
100%|██████████| 246k/246k [00:00<00:00, 1.03MB/s]

'WK1_Airbnb_Amsterdam_listings_proj.csv'

In [7]:
# Making the file varaiable
listing = genfromtxt(downloaded_file_1, delimiter="|", dtype="unicode", unpack=True)

In [8]:
# Sorting the axis
np.sort(listing, axis=None)

array(['', '$0.00', '$0.00', ..., 'latitude', 'longitude', 'price'],
      dtype='<U18')

In [9]:
# Printing the matrix
print(listing[:][:10])

[['' 'id' 'price' 'latitude' 'longitude']
 ['0' '23726706' '$88.00' '52.34916' '4.97879']
 ['1' '35815036' '$105.00' '52.42419' '4.95689']
 ['2' '31553121' '$152.00' '52.43237' '4.91821']
 ['3' '34745823' '$87.00' '52.2962' '5.01231']
 ['4' '44586947' '$160.00' '52.31475' '5.0303']
 ['5' '15801253' '$90.00' '52.34507' '4.96413']
 ['6' '19572024' '$279.00' '52.30739' '4.90833']
 ['7' '18801518' '$140.00' '52.33828' '4.96443']
 ['8' '2973384' '$185.00' '52.30989' '4.90528']]

In [10]:
# Cleaning the listing
list_clean = np.delete(listing, (0), axis = 0)
list_clean = np.delete(listing, (0), axis = 1)

In [11]:
# printing the cleaned list
print(list_clean[:][:10])

[['id' 'price' 'latitude' 'longitude']
 ['23726706' '$88.00' '52.34916' '4.97879']
 ['35815036' '$105.00' '52.42419' '4.95689']
 ['31553121' '$152.00' '52.43237' '4.91821']
 ['34745823' '$87.00' '52.2962' '5.01231']
 ['44586947' '$160.00' '52.31475' '5.0303']
 ['15801253' '$90.00' '52.34507' '4.96413']
 ['19572024' '$279.00' '52.30739' '4.90833']
 ['18801518' '$140.00' '52.33828' '4.96443']
 ['2973384' '$185.00' '52.30989' '4.90528']]

In [12]:
# Checking the unique values in the nd.array
np.unique(list_clean[:1], return_counts=True)

(array(['id', 'latitude', 'longitude', 'price'], dtype='<U18'),
 array([1, 1, 1, 1]))

In [13]:
# Shift the matrix by 90 degrees
list_clean = list_clean.T
# Print out the first ten rows
# Entries: airbnb_id, price_usd, latitude, longitude
print(list_clean[:10][:])

[['id' '23726706' '35815036' ... '35760705' '36900951' '40575103']
 ['price' '$88.00' '$105.00' ... '$180.00' '$174.00' '$65.00']
 ['latitude' '52.34916' '52.42419' ... '52.42624' '52.31983' '52.33946']
 ['longitude' '4.97879' '4.95689' ... '4.90236' '4.86463' '4.95749']]

In [14]:
# Remove the dollar sign
list_clean = np.char.replace(list_clean, "$", "")

In [15]:
# Remove the comma
list_clean = np.char.replace(list_clean, ",", "")

In [16]:
# Check if the dollar sign is in our dataset
list_clean[np.char.find(list_clean, "$") > -1]

array([], dtype='<U18')

In [17]:
# Check if the comma sign is in our dataset
list_clean[np.char.find(list_clean, ",") > -1]

array([], dtype='<U18')

In [18]:
# Applying a for loop to check column in detail
for i in list_clean:
    print(i[:])

['id' '23726706' '35815036' ... '35760705' '36900951' '40575103']
['price' '88.00' '105.00' ... '180.00' '174.00' '65.00']
['latitude' '52.34916' '52.42419' ... '52.42624' '52.31983' '52.33946']
['longitude' '4.97879' '4.95689' ... '4.90236' '4.86463' '4.95749']

In [19]:
# Next way to clean printing a array
list_clean[np.set_printoptions(suppress=True, linewidth= 100, precision=3)]

array([[['id', '23726706', '35815036', ..., '35760705', '36900951', '40575103'],
        ['price', '88.00', '105.00', ..., '180.00', '174.00', '65.00'],
        ['latitude', '52.34916', '52.42419', ..., '52.42624', '52.31983', '52.33946'],
        ['longitude', '4.97879', '4.95689', ..., '4.90236', '4.86463', '4.95749']]], dtype='<U18')

In [30]:
# Change Unicode to float32
list_clean = list_clean[1:][:].astype(float)
# Print out the first five rows (and inspect the dtype for correctness)
# Entries: airbnb_id, price_usd, latitude, longitude
print(list_clean[:10][:])

ValueError: could not convert string to float: 'price'

In [33]:
from currency_converter import CurrencyConverter

cc = CurrencyConverter()
outcome_EUR = []

# Entries: airbnb_id, price_usd, latitude, longitude
def convert_usd_to_eur(dollar: float, currency: str):
    if currency == "EUR":
        return cc.convert(dollar, "USD", "EUR")

for i in list_clean[:, 1]:
    outcome_EUR.append(convert_usd_to_eur(i, "EUR"))

In [34]:
# printing the matrix
print(list_clean[:, 1])

['23726706' '88.00' '52.34916' '4.97879']

In [35]:
# printing the currencies
print(cc.currencies)

{'EUR', 'THB', 'IDR', 'LVL', 'JPY', 'SGD', 'LTL', 'SIT', 'NOK', 'ILS', 'BGN', 'INR', 'TRL', 'TRY', 'ZAR', 'EEK', 'ISK', 'GBP', 'RON', 'AUD', 'CHF', 'CNY', 'HKD', 'PHP', 'MYR', 'RUB', 'MXN', 'USD', 'MTL', 'HUF', 'DKK', 'PLN', 'SEK', 'HRK', 'BRL', 'SKK', 'NZD', 'CAD', 'CYP', 'CZK', 'ROL', 'KRW'}

In [ ]:
# Get the rate of conversion from the US dollar to your currency of choice
gbp_rate = cc.convert(1, "USD", "GBP")

# Multiply the dollar column by your currency of choice
list_clean[:, 1] = list_clean[:, 1] * gbp_rate

In [59]:
# Multiply the dollar column by the inflation percentage (1.00 + inflation)
list_clean[:, 1] = list_clean[:, 1] * 5.0
# Round down the new currency column to 2 decimals
list_clean[:, 1] = np.round_(list_clean[:, 1], decimals=2)

In [60]:
# checking if there are any nan values in the dataset
np.isnan(list_clean).sum()

0

In [66]:
# checking the mean value of the specific column to see if there is nan values to fill, since there was none, so left it. 
np.mean(list_clean[3])

8686561.4871275

In [ ]:
%%timeit -r 4 -n 100
# Allow a Python function to be used in a (semi-)vectorized way
conv_to_meters = np.vectorize(from_location_to_airbnb_listing_in_meters)

# Apply the function, use timeit
conv_to_meters(latitude, longitude, list_clean[:, 2], list_clean[:, 3])

In [ ]:
# Printing the final array information
list_clean[np.set_printoptions(suppress=True, linewidth= 100, precision=3)]